* {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

a {
  text-decoration: none;
}

.btn {
  height: 63px;
  width: 168px;
  background: #18cfab;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 0 0 #fff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
}

/* 1 блок */

.top-section-page {
  height: 1012px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(/img/TopBG.svg) center/cover no-repeat fixed;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.navigation-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  text-align: center;
}

.logo {
  display: flex;
  position: relative;
}

.H {
  position: absolute;
  color: #fff;
  font-size: 40px;
  top: 14px;
  left: 14px;
}

.the {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  margin-left: 6px;
  padding-top: 6px;
}

.ham {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
  margin-top: 6px;
}

.nav-bar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav-bar-item {
  margin-right: 22px;
}

.nav-bar-item:last-child {
  margin-right: 0;
}

.nav-bar-link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 48px;
}

.nav-bar-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.title-top-container {
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-text-top {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
}

.title-text-top.green {
  margin-left: 6px;
  color: #18cfab;
}

.title-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 78px;
}

.title-text-bottom {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}

.header-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 134px;
}

.btn.purchase-top {
  background: #00cbf6;
  margin-left: 26px;
}

.header-btn-link {
  color: #fff;
  font-size: 15px;
  line-height: 32px;
}

/* 2 блок */

.four-option-section {
  width: 100%;
}

.option-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 370px;
}

.option-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background: #1c2a33;
  color: #18cfab;
}

.light {
  background: #18cfab;
  color: #fff;
}

.option-item-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

/* 3 блок */

.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 550px;
}

.service-title {
  position: relative;
  margin-top: 84px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
}

.service-title::after {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 55px;
  top: 62px;
}

.service-title::before {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 68px;
  top: 66px;
}

.service-tab-container {
  width: 100%;
  margin-top: 90px;
}

.service-tab-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 74px;
  max-width: 1160px;
  margin: 0 auto;
}

.service-tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #edefef;
  background: #f8fcfe;
  color: #717171;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
}

.service-tab-item:hover {
  border: 1.5px solid #18cfab;
}

.service-tab-item.active {
  position: relative;
  background: #18cfab;
  color: #fff;
}

.service-tab-item.active::after {
  content: url(/img/Rectangle\ 60.svg);
  position: absolute;
  top: 59px;
}

.service-img-container {
  max-width: 1160px;
  margin-top: 23px;
  height: 140px;
}

.service-img-list {
  width: 100%;
  height: 100%;
}

.service-img-item {
  display: none;
}

.service-img-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-text {
  height: 140px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #777777;
}

/* 4 блок */

.purchase-section {
  background: url(/img/PurchaseBG.svg) center/cover no-repeat;
  height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-title {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.purchase-subtitle {
  font-weight: 400;
  line-height: 40px;
  color: #d8d8d8;
  margin-top: 12px;
}

.purchase-link {
  font-size: 15px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
}

.btn.purchase {
  margin-top: 67px;
}

/* 5 блок */

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #e9edef;
}

.work-title {
  margin-top: 95px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
}

.work-title::after {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 87px;
  top: 62px;
}

.work-title::before {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 100px;
  top: 66px;
}

.work-tab-container {
  margin-top: 96px;
  width: 582px;
  height: 58px;
}

.work-tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 582px;
}

.work-tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  border: 1px solid #dadada;
  color: #717171;
}

.work-tab-item:hover {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.work-tab-item.active {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.work-img-container {
  max-width: 1140px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work-img-container li {
  position: relative;
}

.work-img-text {
  position: absolute;
  padding: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #18cfab;
  background: #e9edef;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #18cfab;
  font-size: 14px;
  line-height: 25px;
  flex-direction: column;
}

.work-img-text h3 {
  text-transform: uppercase;
}

.work-img-text p {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
}

.work-img-container li:hover .work-img-text {
  opacity: 1;
}

.btn.load {
  margin-top: 70px;
  margin-bottom: 100px;
  justify-content: space-evenly;
  color: #fff;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 0 0 0;
}

/* 6 блок */

.breaking-news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.breaking-news-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-top: 82px;
  position: relative;
}

.breaking-news-title:after {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 65px;
  top: 62px;
}

.breaking-news-title:before {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 78px;
  top: 66px;
}

.breaking-news-list {
  margin-top: 100px;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.breaking-news-item {
  position: relative;
}

.breaking-news-item:hover .breaking-news-date {
  background: #18cfab;
}

.breaking-news-item:hover .breaking-news-bottom-text-up {
  color: #18cfab;
}

.breaking-news-date {
  position: absolute;
  top: 0;
  right: 0;
  background: #203e38;
  width: 70px;
  height: 68px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.breaking-news-bottom-container {
  margin: 20px;
}

.breaking-news-bottom-text-up {
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}

.breaking-news-bottom-text-down {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  position: relative;
}

.breaking-news-bottom-text-down span:last-child {
  margin-left: 20px;
}

.breaking-news-bottom-text-down::after {
  content: "|";
  color: #777777;
  height: 10px;
  display: block;
  position: absolute;
  top: 0px;
  margin-left: 65px;
}

/* 7 блок */

.client-feedback-section {
  background: url(/img/Layer\ 333.svg) center/cover no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-feedback-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin-top: 98px;
  position: relative;
}

.client-feedback-title:after {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 195px;
  top: 62px;
}

.client-feedback-title:before {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 208px;
  top: 66px;
}

.client-feedback-icon {
  margin-top: 99px;
}

.client-feedback-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-feedback-item {
  display: none;
  text-align: center;
}

.client-feedback-message {
  margin-top: 36px;
  width: 1160px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbb;
}

.client-feedback-name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  margin-top: 37px;
}

.client-feedback-specialty {
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
  color: #bbb;
}

.client-feedback-foto {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  border: 12px solid #234a4b;
  border-radius: 50%;
  margin-top: 50px;
}

.client-feedback-item.active {
  display: inline;
}

.client-feedback-foto.active {
  opacity: 1;
}

.client-feedback-tab-container {
  display: flex;
  margin-top: 70px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-around;
}

.client-feedback-tab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border: 1px solid #bbb;
  background: rgba(0, 0, 0, 0.0001);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.client-feedback-tab-btn:hover {
  background: #18cfab;
  border: 1px solid #18cfab;
  opacity: 0.7;
}

.client-feedback-tab-list {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: all ease 0.5s;
}

.client-feedback-tab-foto {
  border-radius: 50%;
  border: 5px solid #234a4b;
  transition-duration: 2s;
  margin: 0 19px;
  cursor: pointer;
  opacity: 0.5;
}

.client-feedback-tab-foto.active {
  transform: translateY(-25px);
  opacity: 1;
}

/* 8 блок */

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gallery-title {
  margin-top: 95px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
}

.gallery-title::after {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 125px;
  top: 62px;
}

.gallery-title::before {
  content: "";
  width: 77px;
  background-color: #18cfab;
  height: 2px;
  position: absolute;
  left: 138px;
  top: 66px;
}

.wrapper-grid {
  width: 100%;
}

.grid {
  max-width: 1160px;
  margin: 115px auto;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  padding: 5px;
  position: relative;
  float: left;
}

.grid-item::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  width: 27px;
  height: 25px;
  background: #14b9d5 center no-repeat;
  background-image: url(/img/Group\ 2.svg);
}

.grid-item::before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 100px;
  width: 27px;
  height: 25px;
  background: #14b9d5 center no-repeat;
  background-image: url(/img/Group\ 3.svg);
}

.grid-item:hover {
  opacity: 0.64;
}

.grid-item:hover::after,
.grid-item:hover::before {
  display: flex;
}

.grid-item img {
  display: block;
  width: 100%;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;

  background: #22353f;
}

.footer-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #aeaeae;
}

.footer-link {
  margin: 0 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #18cfab;
}

/* clock-loader */

.water {
  width: 150px;
  height: 150px;
  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5),
    0 4px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.water:before,
.water:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: -75px;
  background-color: #fff;
}

.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.7);
  animation: wave 5s linear infinite;
}

.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.3);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
